.container-player {
    float: left;
    color: white;
    background-color: #3c3c3c;
    border: 1px solid white;
    margin: 5px;
    padding: 0;
}

.ax {
    display: grid;
    justify-self: center;
    align-items: center;
    justify-items: center;
    width: 75px;
    height: 75px;
    margin-top: -37.5px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: #464f94;
}

.ban {
    font-size: medium;
    margin: 0px;
    background-color: #68071c;
    border: 1px solid white;
    width: 75px;
    height: 76px;
}

.kill {
    font-size: medium;
    margin: 0px;
    background-color: rgb(245, 9, 87);
    border: 1px solid white;
    width: 75px;
    height: 76px;
}

.property {
    text-align: center;
}

.container-ax {
    display: grid;
    justify-items: center;
}
